# ignore .log files
*.log

# ignore .aux files
*.aux

# ignore .pdf files
*.pdf
!*problems.pdf

*.fdb_latexmk

*.fls

# ignore binary files
*.out

# ignore text files
*.txt

# ignore images
*.bmp

# ignore object files
*.o

#ignore specific binary files
*/km_pthreads
*/km_openmp
*/rs_openmp
*/rs_mpi
*/rs_serial
*/pagerank
*/pagerank_serial
*/stencil

#ignore .tar.gz
*.tar.gz

#remove files from CSCI 5451 homework 1 plotting
.fuse*

#graph and pagerank files from CSCI 5451 homework 3
*.graph
*.pr.txt

# include timing resutls
!*timing_results.txt

pr_hosts
